body{
    background-image: url(../Material/backgroundImage.jpg);
    background-repeat: repeat;
}
.bio{

    width: 50%;
    background-color: rgb(255, 255, 255);
    margin-left:20px;
    margin-top: 20px;
    text-decoration-style: dotted;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
}

.introduction{
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    height: 10%;
    width: 60%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bioTitles{
    font-size: 150%;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.firstTraitsRow{
    text-align: center;
    padding-right: 30%;
}

#bioSentences{
    margin: 5%;
    background-color: azure;
    text-align: center;
    border: 5px solid rgb(164, 191, 218);
}
.secondTraitsRow{
    text-align: center;
    
}

button{
    cursor: pointer;
    color: black;
    background-color: rgb(164, 191, 218);
    border: 3px solid black;
    margin-left: 17%;
    margin-top: 4%;
}

/*button{
    cursor: pointer;
    color: black;
    background-color: burlywood;
    border: 3px solid black;
    margin-left: 17%;
    margin-top: 4%;
}


